<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/tabela.css" type="text/css">
    <title>Biblioteca</title>
</head>
<body>

    <header>
        <div class="header">
        <h1>Biblioteca Digital UFAM</h1>
        <nav>
            <ul>
                <li><a href="/View/index.html">Home</a></li>
                <li><a href="/View/es.html">Engenharia de Software</a></li>
                <li><a href="/View/si.html">Sistemas de Informação</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <section class="descricao">
        <div class="descricao-box">
            <div class="box">
                <h2>Engenharia de Software</h2>
                <p>Aqui você encontra os Trabalhos de Conclusão de Curso de Engenharia de Software. Lembrando que os TCCs referentes ao curso, estão disponíveis até o ano de 2020, a partir daí, com a mudança do PPC do curso, os TCCs não são mais obrigatórios.</p>
            </div>
            <div class="img-descricao">
                <div class="icet-logo">
                    <img id="ufam-icet-logo" src="" alt="">
                </div> 
            </div>   
        </div>
    </section>

    <section class="tabela">
        <div class="area-tabela">
            <h2>TCCs de Engenharia de Software</h2>
            <table>
                <thead>
                    <tr>
                        <th>Autor</th>
                        <th>Título</th>
                        <th>Ano</th>
                        <th>Orientador</th>
                        <th>PDF do TCC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nome do Autor</td>
                        <td>Título do TCC</td>
                        <td>Ano de Defesa</td>
                        <td>Orientador</td>
                        <td>Link para PDF</a></td>
                    </tr>
                    <tr>
                        <td>Nome do Autor</td>
                        <td>Título do TCC</td>
                        <td>Ano de Defesa</td>
                        <td>Orientador</td>
                        <td>Link para PDF</a></td>
                    </tr>
                    <tr>
                        <td>Nome do Autor</td>
                        <td>Título do TCC</td>
                        <td>Ano de Defesa</td>
                        <td>Orientador</td>
                        <td>Link para PDF</a></td>
                    </tr>
                    <tr>
                        <td>Nome do Autor</td>
                        <td>Título do TCC</td>
                        <td>Ano de Defesa</td>
                        <td>Orientador</td>
                        <td>Link para PDF</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Biblioteca Digital UFAM. Todos os direitos reservados.</p>
    </footer>

    <script src="js/script.js"></script>

</body>
</html>