<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>Biblioteca</title>
</head>
<body>

    <header>
        <div class="header">
        <h1>Biblioteca Digital UFAM</h1>
        <nav>
            <ul>
                <li><a href="/View/index.html">Home</a></li>
                <li><a href="/View/es.html">Engenharia de Software</a></li>
                <li><a href="/View/si.html">Sistemas de Informação</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <section class="descricao">
        <div class="descricao-box">
            <div class="box">
                <h2>Bem-vindo à Biblioteca Digital da UFAM</h2>
                <p>A Biblioteca Digital é uma plataforma dedicada à catalogação e acesso facilitado a Trabalhos de Conclusão de Curso (TCCs) dos cursos de Sistema de Informação e Engenharia de Software oferecidos pela Universidade Federal do Amazonas, no Instituto de Ciências Exatas e Tecnologia (ICET).</p>
            </div>
            <div class="img-descricao">
                <div class="icet-logo">
                    <img id="ufam-icet-logo" src="/View/img/LOGO-ufam_icet.png" alt="">
                </div> 
            </div>   
        </div>
    </section>

    <section class="img-slider">
        <div class="area-slider">
            <div class="slide active">
                <img class="img" src="/View/img/icet01.jpeg" />
                <div class="info">
                    <h2>Sobre o ICET</h2>
                    <p>A interiorização da Universidade Federal do Amazonas (UFAM) em Itacoatiara teve início em 1991 com a criação do Campus Avançado, que oferecia capacitação para professores da rede pública. Embora sem prédio próprio, o campus utilizou instalações públicas para ministrar cursos em diversas áreas, formando várias turmas ao longo dos anos. Em 2005, o Campus Universitário Moysés Benarrós Israel foi estabelecido para atender à demanda de ensino superior em vários municípios. Em 2006, a Unidade Acadêmica Permanente de Itacoatiara foi criada, inicialmente oferecendo seis cursos em ciências exatas e tecnologia. Em 2007, a unidade passou a se chamar Instituto de Ciências Exatas e Tecnologia (ICET), como parte do Programa de Expansão do Sistema Público Federal de Educação Superior, com o objetivo de formar profissionais qualificados e contribuir para o desenvolvimento do interior do estado, especialmente nas áreas de tecnologia, educação e saúde.
                    </p>
                </div>
            </div>
            
            <div class="slide">
                <img class="img" src="" />
                <div class="info">
                    <h2>Engenharia de Software</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been
                    </p>
                </div>
            </div>
            <div class="slide">
                <img class="img" src="" />
                <div class="info">
                    <h2>Sistemas de Informação</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been Lorem Ipsum is simply dummy text of the printing and typesetting of the industry. Lorem
                        Ipsum has been
                    </p>
                </div>
            </div>

            <div class="button">
                <button class="prev"><</button>
                <button class="next">></button>
            </div>
            
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
    </section>

    <section id="tcc-buttons">
        <a href="#tcc-engenharia" class="tcc-button">Visualizar TCCs - Engenharia de Software</a>
        <a href="#tcc-informacao" class="tcc-button">Visualizar TCCs - Sistemas de Informação</a>
    </section>

    <footer>
        <div class="footer">
            <p>&copy; 2024 Biblioteca Digital UFAM. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!--<script src="js/script.js"></script>-->

</body>
</html>