<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Biblioteca</title>
</head>
<body>

    <header>
        <div class="header">
        <h1>Biblioteca Digital UFAM</h1>
        <nav>
            <ul>
                <li><a href="/View/index.html">Home</a></li>
                <li><a href="/View/es.html">Engenharia de Software</a></li>
                <li><a href="/View/si.html">Sistemas de Informação</a></li>
            </ul>
        </nav>
        </div>
    </header>

    <section class="descricao">
        <div class="descricao-box">
            <div class="box">
                <h2>Bem-vindo à Biblioteca Digital da UFAM</h2>
                <p>A Biblioteca Digital é uma plataforma dedicada à catalogação e acesso facilitado a Trabalhos de Conclusão de Curso (TCCs) dos cursos de Sistema de Informação e Engenharia de Software oferecidos pela Universidade Federal do Amazonas, no Instituto de Ciências Exatas e Tecnologia (ICET).</p>
            </div>
            <div class="img-descricao">
                <div class="icet-logo">
                    <img id="ufam-icet-logo" src="/View/img/LOGO-ufam_icet.png" alt="">
                </div> 
            </div>   
        </div>
    </section>

    <section class="img-slider">
        <div class="area-slider">
            <div class="slide active">
                <img class="img" src="/View/img/icet.jpg" />
                <div class="info">
                    <h2>Sobre o ICET</h2>
                    <p>A interiorização da Universidade Federal do Amazonas (UFAM) em Itacoatiara teve início em 1991 com a criação do Campus Avançado, 
                        que oferecia capacitação para professores da rede pública. Embora sem prédio próprio, 
                        o campus utilizou instalações públicas para ministrar cursos em diversas áreas, 
                        formando várias turmas ao longo dos anos. Em 2005, o Campus Universitário Moysés Benarrós Israel 
                        foi estabelecido para atender à demanda de ensino superior em vários municípios. 
                        Em 2006, a Unidade Acadêmica Permanente de Itacoatiara foi criada, inicialmente oferecendo seis cursos
                         em ciências exatas e tecnologia. Em 2007, a unidade passou a se chamar Instituto de Ciências Exatas e Tecnologia (ICET), 
                         como parte do Programa de Expansão do Sistema Público Federal de Educação Superior, com o objetivo de formar profissionais 
                         qualificados e contribuir para o desenvolvimento do interior do estado, especialmente nas áreas de tecnologia e educação.
                    </p>
                </div>
            </div>
            
            <div class="slide">
                <img class="img" src="/View/img/labnavir.jpg" />
                <div class="info">
                    <h2>Engenharia de Software</h2>
                    <p>O curso de Bacharelado em Engenharia de Software apresenta direcionamentos que possibilitam a formação de um profissional 
                        capaz de conduzir o processo de desenvolvimento de software para atender diversas demandas em diferentes domínios
                         que requeiram solução computacional, considerando as capacidades dos seres humanos e das máquinas, 
                         balizado pelos custos envolvidos e impactos sobre a sociedade. Esta atuação dá-se através de metodologias 
                         e técnicas destinadas a projetar, modelar, analisar e resolver problemas com competência, criatividade, senso crítico e ética.<br>O egresso terá, na sociedade, o papel de agente transformador no mercado, capaz de aplicar habilidades e conhecimento para exercer funções em variadas áreas relacionadas à Engenharia de Software ou afins
                    </p>
                </div>
            </div>
            <div class="slide">
                <img class="img" src="/View/img/labsi.jpg" />
                <div class="info">
                    <h2>Sistemas de Informação</h2>
                    <p>O curso de Bacharelado em Sistemas de Informação (SI) do Instituto de Ciências Exatas e Tecnologia (ICET) da Universidade
                         Federal do Amazonas (UFAM), foi aprovado pela Resolução No 025/2007 - CONSUNI e iniciou suas atividades no Campus
                          de Itacoatiara no ano de 2007.<br>Os egressos do curso devem apresentar uma sólida formação em Ciência da Computação,
                           Matemática e Administração, podendo atuar em duas grandes áreas: (1) Inovação, Planejamento e Gerenciamento da 
                           Informação e da Infraestrutura da Tecnologia da Informação (TI) alinhados aos objetivos organizacionais e (2) 
                           Desenvolvimento e Evolução de Sistemas de Informação e da Infraestrutura de Informação para uso em processos 
                           organizacionais, departamentais e/ou individuais.
                    </p>
                </div>
            </div>

            <div class="button">
                <button class="prev"><</button>
                <button class="next">></button>
            </div>
            
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
        </div>
    </section>

    <section id="tcc-buttons">
        <div class="area-tcc-button">
            <div class="space-button">
                <img src="/View/img/logoEs.png" alt="Es">
                <a href="#tcc-engenharia" class="tcc-button">Visualizar TCCs - Engenharia de Software</a>
            </div>
            <div class="space-button">
                <img src="/View/img/logoSI.png" alt="Si">
                <a href="#tcc-informacao" class="tcc-button">Visualizar TCCs - Sistemas de Informação</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer">
            <p>&copy; 2024 Biblioteca Digital UFAM. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="js/script.js"></script>

</body>
</html>